.academie-help.admin > .left {
    width: 75%;
}

.academie-help.admin > .right {
    width: 25%;
}

.academie-help.admin .admin-list .active {
    color: #000;
}

.academie-help.admin .content h2,
.academie-help.admin .content h3,
.academie-help.admin .content h4,
.academie-help.admin .content p,
.academie-help.admin .content ul,
.academie-help.admin .content ol,
.academie-help.admin .content img {
    margin-bottom: 0.75em;
}

.academie-help.admin .content h2,
.academie-help.admin .content h3,
.academie-help.admin .content h4 {
    margin-top: 1.5em;
    clear: both;
    display: block;
}

.academie-help.admin .content h2 a,
.academie-help.admin .content h3 a,
.academie-help.admin .content h4 a {
    color: #000;
}

.academie-help.admin .content h2 {
    font-size: 1.3em;
}

.academie-help.admin .content h2,
.academie-help.admin .content h2 a {
    color: #5599AA;
}

.academie-help.admin .content h3 {
    font-size: 1.2em;
}

.academie-help.admin .content img {
    border: 1px solid #E8E8E8;
}

.academie-help.admin .content img.float-left {
    max-width: 50%;
    margin-right: 0.75em;
    float: left;
}

.academie-help.admin .content img.float-right {
    max-width: 50%;
    margin-left: 0.75em;
    float: right;
}

.academie-help.admin .content img.full {
    width: 100%;
}

.academie-help.admin .content img.arrow {
    margin-bottom: -3px;
}

.academie-help.admin .content img.icon {
    margin-bottom: -7px;
}

.academie-help.admin .content img.icon-with-text {
    margin-bottom: -6px;
}

.academie-help.admin .content p img,
.academie-help.admin .content li img {
    margin-bottom: 0;
}

.academie-help.admin .content ul {
    padding-left: 1.5em;
}

.academie-help.admin .content li {
    list-style-type: square;
}

/* ---------- Quickbar ---------- */

div#quickbar {
    left: 0;
}

div#quickbar div.depth-0 ul#quickbar-admin {
    float: none;
}

#quickbar .menu-783,
div#quickbar ul.links li.menu-783 {
    float: right;
}