/*
    Académie française - colors.css
    =========================
    developpé par Nicolas Ricklin
    SDV Plurimédia (http://www.sdv.fr/)
*/



/* ------------- Base ------------ */

h1, h2, h3, h4, h5, h6,
a:link,
a:active,
a:visited,
.color,
#main-menu .menu .menu .menu a:hover,
#main-menu .menu .menu .menu a:focus,
#main-menu .menu .menu .menu a.active {
    color: #687784;
}

.background-color,
#main-menu a:hover,
#main-menu a:focus,
#main-menu a.active,
#main-menu li.active-trail > a,
#main-menu li:hover > a,
#main-menu li:focus > a,
#main-menu .menu .menu,
.page-no-menu .menu-placeholder {
    background-color: #DEE3E8;
}

.border-color {
    border-color: #687784;
}



/* ------------- Institution ------------ */

.page-institution h1,
.page-institution h2,
.page-institution h3,
.page-institution h4,
.page-institution h5,
.page-institution h6,
.page-institution a:link,
.page-institution a:active,
.page-institution a:visited,
.content-institution h1,
.content-institution h2,
.content-institution h3,
.content-institution h4,
.content-institution h5,
.content-institution h6,
.content-institution a:link,
.content-institution a:active,
.content-institution a:visited,
.content-institution .color,
#main-menu .menu-institution .menu .menu a:hover,
#main-menu .menu-institution .menu .menu a:focus,
#main-menu .menu-institution .menu .menu a.active {
    color: #3D8896;
}

.page-institution .background-color,
.content-institution .background-color,
#main-menu .menu-institution a:hover,
#main-menu .menu-institution a:focus,
#main-menu .menu-institution a.active,
#main-menu .menu-institution.active-trail > a,
#main-menu .menu-institution:hover > a,
#main-menu .menu-institution:focus > a,
#main-menu .menu-institution .menu {
    background-color: #3D8896;
}

.page-institution .border-color,
.content-institution .border-color {
    border-color: #3D8896;
}



/* ------------- Immortels ------------ */

.page-immortels h1,
.page-immortels h2,
.page-immortels h3,
.page-immortels h4,
.page-immortels h5,
.page-immortels h6,
.page-immortels a:link,
.page-immortels a:active,
.page-immortels a:visited,
.content-immortels h1,
.content-immortels h2,
.content-immortels h3,
.content-immortels h4,
.content-immortels h5,
.content-immortels h6,
.content-immortels a:link,
.content-immortels a:active,
.content-immortels a:visited,
.content-immortels .color,
#main-menu .menu-immortels .menu .menu a:hover,
#main-menu .menu-immortels .menu .menu a:focus,
#main-menu .menu-immortels .menu .menu a.active {
    color: #3D7328;
}

.page-immortels .background-color,
.content-immortels .background-color,
#main-menu .menu-immortels a:hover,
#main-menu .menu-immortels a:focus,
#main-menu .menu-immortels a.active,
#main-menu .menu-immortels.active-trail > a,
#main-menu .menu-immortels:hover > a,
#main-menu .menu-immortels:focus > a,
#main-menu .menu-immortels .menu {
    background-color: #3D7328;
}

.page-immortels .border-color,
.content-immortels .border-color {
    border-color: #3D7328;
}

.page-immortels a.file-download,
.content-immortels a.file-download {
    background-image: url('../images/icon-download-immortels.png');
    color: #000;
}

.page-immortels a.video-viewing,
.content-immortels a.video-viewing {
    background-image: url('../images/icon-video-immortels.png');
    color: #000;
}


/* ------------- Actions pédagogiques ------------ */

.page-action-pedagogique h1,
.page-action-pedagogique h2,
.page-action-pedagogique h3,
.page-action-pedagogique h4,
.page-action-pedagogique h5,
.page-action-pedagogique h6,
.page-action-pedagogique a:link,
.page-action-pedagogique a:active,
.page-action-pedagogique a:visited,
.content-action-pedagogique h1,
.content-action-pedagogique h2,
.content-action-pedagogique h3,
.content-action-pedagogique h4,
.content-action-pedagogique h5,
.content-action-pedagogique h6,
.content-action-pedagogique a:link,
.content-action-pedagogique a:active,
.content-action-pedagogique a:visited,
.content-action-pedagogique .color,
#main-menu .menu-action-pedagogique .menu .menu a:hover,
#main-menu .menu-action-pedagogique .menu .menu a:focus,
#main-menu .menu-action-pedagogique .menu .menu a.active {
    color: #ed7d31;
}

.page-action-pedagogique .background-color,
.content-action-pedagogique .background-color,
#main-menu .menu-action-pedagogique a:hover,
#main-menu .menu-action-pedagogique a:focus,
#main-menu .menu-action-pedagogique a.active,
#main-menu .menu-action-pedagogique.active-trail > a,
#main-menu .menu-action-pedagogique:hover > a,
#main-menu .menu-action-pedagogique:focus > a,
#main-menu .menu-action-pedagogique .menu {
    background-color: #ed7d31;
}

.page-action-pedagogique .border-color,
.content-action-pedagogique .border-color {
    border-color: #ed7d31;
}



/* ------------- Langue ------------ */

.page-langue h1,
.page-langue h2,
.page-langue h3,
.page-langue h4,
.page-langue h5,
.page-langue h6,
.page-langue a:link,
.page-langue a:active,
.page-langue a:visited,
.content-langue h1,
.content-langue h2,
.content-langue h3,
.content-langue h4,
.content-langue h5,
.content-langue h6,
.content-langue a:link,
.content-langue a:active,
.content-langue a:visited,
.content-langue .color,
#main-menu .menu-langue .menu .menu a:hover,
#main-menu .menu-langue .menu .menu a:focus,
#main-menu .menu-langue .menu .menu a.active {
    color: #A42424;
}

.page-langue .background-color,
.content-langue .background-color,
#main-menu .menu-langue a:hover,
#main-menu .menu-langue a:focus,
#main-menu .menu-langue a.active,
#main-menu .menu-langue.active-trail > a,
#main-menu .menu-langue:hover > a,
#main-menu .menu-langue:focus > a,
#main-menu .menu-langue .menu {
    background-color: #A42424;
}

.page-langue .border-color,
.content-langue .border-color {
    border-color: #A42424;
}



/* ------------- Dictionnaire ------------ */

.page-dictionnaire h1,
.page-dictionnaire h2,
.page-dictionnaire h3,
.page-dictionnaire h4,
.page-dictionnaire h5,
.page-dictionnaire h6,
.page-dictionnaire a:link,
.page-dictionnaire a:active,
.page-dictionnaire a:visited,
.content-dictionnaire h1,
.content-dictionnaire h2,
.content-dictionnaire h3,
.content-dictionnaire h4,
.content-dictionnaire h5,
.content-dictionnaire h6,
.content-dictionnaire a:link,
.content-dictionnaire a:active,
.content-dictionnaire a:visited,
.content-dictionnaire .color,
#main-menu .menu-dictionnaire .menu .menu a:hover,
#main-menu .menu-dictionnaire .menu .menu a:focus,
#main-menu .menu-dictionnaire .menu .menu a.active {
    color: #3E64A2;
}

.page-dictionnaire .background-color,
.content-dictionnaire .background-color,
#main-menu .menu-dictionnaire a:hover,
#main-menu .menu-dictionnaire a:focus,
#main-menu .menu-dictionnaire a.active,
#main-menu .menu-dictionnaire.active-trail > a,
#main-menu .menu-dictionnaire:hover > a,
#main-menu .menu-dictionnaire:focus > a,
#main-menu .menu-dictionnaire .menu {
    background-color: #3E64A2;
}

.page-dictionnaire .border-color,
.content-dictionnaire .border-color {
    border-color: #3E64A2;
}



/* ------------- Prix ------------ */

.page-prix h1,
.page-prix h2,
.page-prix h3,
.page-prix h4,
.page-prix h5,
.page-prix h6,
.page-prix a:link,
.page-prix a:active,
.page-prix a:visited,
.content-prix h1,
.content-prix h2,
.content-prix h3,
.content-prix h4,
.content-prix h5,
.content-prix h6,
.content-prix a:link,
.content-prix a:active,
.content-prix a:visited,
.content-prix .color,
#main-menu .menu-prix .menu .menu a:hover,
#main-menu .menu-prix .menu .menu a:focus,
#main-menu .menu-prix .menu .menu a.active {
    color: #6D3C6D;
}

.page-prix .background-color,
.content-prix .background-color,
#main-menu .menu-prix a:hover,
#main-menu .menu-prix a:focus,
#main-menu .menu-prix a.active,
#main-menu .menu-prix.active-trail > a,
#main-menu .menu-prix:hover > a,
#main-menu .menu-prix:focus > a,
#main-menu .menu-prix .menu {
    background-color: #6D3C6D;
}

.page-prix .border-color,
.content-prix .border-color {
    border-color: #6D3C6D;
}



/* ------------- Global ------------ */

a:link:focus,
a:link:hover,
a:active:focus,
a:active:hover,
a:visited:focus,
a:visited:hover {
    color: #4A5056;
}

/* couleurs dans wysiwyg.css */
.texte_turquoise {color:#3d8896;}
.texte_vert {color:#3d7328;}
.texte_bordeau {color:#a42424;}
.texte_bleu {color:#3e64a2;}
.texte_violet {color:#6d3c6d;}
.texte_orange {color:#ed7d31;}