/*
    Académie française - styles.css
    =========================
    developpé par Nicolas Ricklin
    SDV Plurimédia (http://www.sdv.fr/)
*/



/* ------------- Général ------------ */

html {
    background: #D7DBDE url('../images/background-gradient.png') repeat-x left top;
}

body {
    background: transparent url('../images/background-overlay2.jpg') no-repeat center top;
    font-family: DroidSans, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #000;
}

body.toolbar {
    background-position: center 65px;
}

h1, h2, h3, h4, h5, h6,
p, img, ul, ol, video, audio, table {
    margin-bottom: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    font-family: Ovo, Times, serif;
    font-weight: normal;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

h1 {
    padding-bottom: 8px;
    border-bottom: 1px solid #D9D9D9;
    font-size: 2.14em;
    line-height: 1em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.28em;
}

p {
    text-align: justify;
}

a:link:focus,
a:link:hover,
a:active:focus,
a:active:hover,
a:visited:focus,
a:visited:hover{
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto !important;
    border: 2px solid #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

img.file-icon {
    margin: 0 0 -2px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

img.media-left,
img[style*="left"] {
    float: left;
    margin-right: 0.8em;
}

img.media-right,
img[style*="right"] {
    float: right;
    margin-left: 0.8em;
}

ul, ol {
    margin-left: 2em;
}

ul li {
    list-style-type: disc;
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin-bottom: 0;
}

ul.menu li,
ol.menu li {
    margin: 0;
    padding: 0;
}

ol li {
    list-style-type: decimal;
}

ol li li {
    list-style-type: lower-latin;
}

sup,
sub {
    font-size: xx-small;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}

hr {
    margin: 1.5em 0;
    border: 0;
    border-top: 1px solid #D9D9D9;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    padding: 0.8em 0.8em 0 0.8em;
    border: 1px solid #D9D9D9;
    vertical-align: top;
}

table th {
    background: #687784;
    color: #FFF;
}

.clearfix {
    display: block;
    clear: both;
}

.element-invisible {
    display: none;
}

.field-item {
    clear: both;
}

#wrap {
    width: 1000px;
    margin: 0 auto;
    display: block;
}



/* ------------- Formulaires ------------ */

label {
    width: 297px;
    padding: 6px 0;
    margin-right: 24px;
    float: left;
}

.dual-lines label {
    padding: 0 0 4px;
}

.form-type-radio label,
.form-type-checkbox label {
    float: none;
}

input,
select,
textarea,
.form-textarea-wrapper textarea {
    width: 287px;
    padding: 5px;
    background: #FFF;
    border: 1px solid #BABEC2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: DroidSans, Arial, sans-serif;
    font-size: 1em;
    line-height: 1em;
    color: #687784;
}

input[type=radio],
input[type=checkbox]{
    width: auto;
}

select,
textarea,
.form-textarea-wrapper textarea {
    width: 299px;
    line-height: 1.5em;
}

.form-textarea-wrapper .grippie {
    width: 299px;
    margin-right: 10px;
    margin-bottom: 1em;
    float: right;
}

input:focus,
select:focus,
textarea:focus {
    background: #687784;
    color: #FFF;
}

.form-item {
    clear: both;
}

.form-item .description {
    color: #687784;
}

.form-item.form-type-date-popup {
    margin: 0 0 1em;
    border: 0;
}

.form-item.form-type-date-popup .date-padding {
    width: 287px;
    padding: 0;
    float: none;
}

.form-item.form-type-date-popup .form-item {
    clear: none;
}

.form-item.form-type-date-popup .form-item label {
    display: none;
}

.form-item.form-type-date-popup .form-item input {
    margin-right: 0;
    background-image: url('../images/input-date.gif');
    background-repeat: no-repeat;
    background-position: 287px center;
}

.form-item.form-type-checkbox {
    padding-left: 321px;
}

.form-item.form-type-checkbox label {
    width: auto;
    margin-right: 0;
}

html.js input.form-autocomplete {
    background-position: 97% 8px;
}

html.js input.form-autocomplete.throbbing {
    background-position: 97% -13px;
}

.reference-autocomplete {
    display: block;
}

.form-actions {
    clear: both;
    padding-right: 10px;
    text-align: right;
}

.form-submit {
    width: auto;
    background: #3A4754;
    color: #FFF;
    cursor: pointer;
}

.form-submit:hover,
.form-submit:focus {
    background: #687784;
}



/* ------------- Recherche ------------ */

#edit-basic #edit-submit {
    margin: 1em 0;
    margin-right: 10px;
    float: right;
}

.search-advanced {
    display: block;
    clear: both;
}

.search-advanced .criterion {
    margin: 0 9px 0 0;
}

.search-advanced .form-type-radios label,
.search-advanced .form-type-checkboxes label {
    margin: 0;
    float: none;
}

.search-advanced .action {
    padding-right: 10px;
    float: none;
    text-align: right;
}



/* ------------- Header ------------ */

#header {
    padding: 18px 0;
}

#logo {
    margin: 0;
    display: block;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    float: left;
}
.header_right {float:right;}

#logo img {
    margin: 0;
    display: block;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#tools {
 /*   margin-top: -36px;*/
    margin-bottom:20px;
    float: right;
}

#tools .item {
    width: 1px;
    height: 28px;
    padding-left: 27px;
    margin-left: 4px;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    background: url('../images/icons-tools.png') no-repeat 0 0;
    border: 1px solid #BABEC2;
    text-indent: 30px;
}

#tools .item:hover,
#tools .focus:hover {
    border-color: #4A5056;
    background-position: 0 -28px;
}

/* Diminuer la taille de texte */
#tools .text-down {
    background-position: 0 0;
}
#tools .text-down:hover,
#tools .text-down:focus {
    background-position: 0 -28px;
}

/* Augmenter la taille de texte */
#tools .text-up {
    background-position: -28px 0;
}
#tools .text-up:hover,
#tools .text-up:focus {
    background-position: -28px -28px;
}

/* Imprimer */
#tools .print {
    background-position: -56px 0;
}
#tools .print:hover,
#tools .print:focus {
    background-position: -56px -28px;
}

/* Twitter */
#tools .twitter {
    border: none;
    background-position: -84px 0;
}
#tools .twitter:hover,
#tools .twitter:focus {
    background-position: -84px -28px;
}

/* RSS */
#tools .rss {
    border: none;
    background-position: -112px 0;
}
#tools .rss:hover,
#tools .rss:focus {
    background-position: -112px -28px;
}

/* Rétablir la taille de texte */
#tools .text-reset {
    display: none;
    background-position: -140px 0;
}
#tools .text-reset:hover,
#tools .text-reset:focus {
    background-position: -140px -28px;
}

/* Picto Rechercher */
#tools .link-search {
    background: url('../images/icons-recherche.png') no-repeat 0 0;
    background-position: 0 0;
     border: none;
     margin-right:10px;
}
#tools .link-search:hover,
#tools .link-search:focus {
    background-position: 0 -28px;
}


/* ------------- Menu principal ------------ */

#main-menu {
    margin-top: 18px;
    background: #3A4754;
    color: #FFF;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#main-menu .clearfix {
    background: #D7DBDE;
}

#main-menu li {
    display: inline;
    list-style: none;
}

#main-menu a {
    padding: 6px 7px 7px;
    display: inline-block;
    font-size: 1.1em;
    line-height: 1em;
    color: #FFF;
}

#main-menu a:hover,
#main-menu a:focus,
#main-menu a.active,
#main-menu li.active-trail > a,
#main-menu li:hover > a,
#main-menu li:focus > a {
    padding-top: 11px;
    margin-top: -5px;
    text-decoration: none;
    background-image: url('../images/menu-active.png');
    color: #FFF;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#main-menu .empty a:hover,
#main-menu .empty a:focus,
#main-menu .empty a.active,
#main-menu li.empty.active-trail > a,
#main-menu li.empty:hover > a,
#main-menu li.empty:focus > a{
    color: #4A5056;
    background-image: url('../images/menu-active-empty.png');
}

#main-menu .menu {
   /* width: 830px;*/
    margin: 0;
    float: left;
    font-family: Ovo, Times, serif;
}

#main-menu > .menu > li > .menu {
    min-height: 33px;
}

#main-menu .menu .menu,
.page-no-menu .menu-placeholder {
    width: 1000px;
    padding-top: 6px;
    display: none;
    background-image: url('../images/menu-background.png');
    border-bottom: 1px solid #FFF;
    font-family: DroidSans, Arial, sans-serif;
    font-size: 0.9em;
}

#main-menu .menu .menu a {
    padding-top: 11px;
    border: 1px solid transparent;
    border-bottom: 0;
}

#main-menu .menu .menu a:hover,
#main-menu .menu .menu a:focus,
#main-menu .menu .menu a.active,
#main-menu .menu .menu li.active-trail > a,
#main-menu .menu .menu li:hover > a,
#main-menu .menu .menu li:focus > a {
    margin-top: 0;
    position: relative;
    bottom: -1px;
    background: #F4F4F4;
    border-color: #FFF;
    border-bottom-color: #F4F4F4;
    color: #4A5056;
}

#main-menu .empty .menu,
.page-no-menu .menu-placeholder {
    height: 39px;
    padding-top: 0;
    background-image: url('../images/menu-background-empty.png');
}

#main-menu .menu .menu .menu {
    padding-top: 0;
    display: none;
    background: #F4F4F4;
    border-bottom: none;
}

#main-menu .menu .menu .menu a {
    padding: 10px 7px;
    border: none;
    color: #4A5056;
}

#main-menu .menu .menu .menu a:hover,
#main-menu .menu .menu .menu a:focus {
    text-decoration: underline;
}

#main-menu .menu .menu .menu a:hover,
#main-menu .menu .menu .menu a:focus,
#main-menu .menu .menu .menu a.active {
    bottom: auto;
}

#main-menu > .menu > .empty > .active + .menu,
#main-menu .active-trail > .menu,
#main-menu .menu .active-trail > .menu,
#main-menu .menu li:hover > .menu,
.page-no-menu .menu-placeholder {
    display: block;
}

#search {
    float: right;
}
#search2 {
    float: right;
    margin-right:20px;
}
#search label, #search2 label{
    display: none;
}

#search .form-text,
#search .form-submit
#search2 .form-text,
#search2 .form-submit  {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#search .form-text,
#search2 .form-text {
    width: 250px;
    padding: 5px 35px 5px 5px;
    float: left;
    border: none;
  -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
   /*   background: #687784;
    color: #FFF; */
}

#search2 .form-text {
    width: 150px;
    color:#aeb6bd;
}


#search .form-text:focus,
#search2 .form-text:focus {
    background: #FFF;
    color: #687784;
}

#search #edit-submit,
#search .form-submit,
#search2 #edit-submit,
#search2 .form-submit{
    width: 28px;
    height: 28px;
    margin: 0 0 0 -28px;
    border: none;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    background: url('../images/icon-search.png') no-repeat 0 0;
     background-position: 0 -28px;
    text-transform: uppercase;
    text-indent: 30px;
}

#search .form-submit:hover,
#search .form-submit:focus,
#search .form-submit.active,
#search2 .form-submit:hover,
#search2 .form-submit:focus,
#search2 .form-submit.active 
{
    background-position: 0 -28px;
}



/* ------------- Contenu ------------ */

#content {
    width: 670px;
    display: block;
    float: left;
}

#content .block,
#footer .block {
    padding: 25px 20px;
    margin-top: 18px;
    position: relative;
    background: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#content .block.with-tabs,
#footer .block.with-tabs {
    margin-top: 46px;
}

#content .block:first-child,
#footer .block:first-child {
    margin-top: 0;
}

#content .block:first-child.with-tabs,
#footer .block:first-child.with-tabs {
    margin-top: 28px;
}

#content #block-academie-academie-banner {
    padding: 0;
    background: #FFF;
    border: 2px solid #FFF;
}

#content #block-academie-academie-banner img {
    margin: 0;
    border: 0;
    display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#content #block-academie-academie-banner img:first-child {
    display: block;
}

.field {
    margin-bottom: 0.8em;
    clear: both;
}



/* ------------- Diaporama ------------ */

#block-academie-slideshow-academie-slideshow.block,
#block-academie-slideshow-academie-slideshow.block .slides {
    width: 670px;
    height: 484px;
    display: block;
    padding: 0;
}

#block-academie-slideshow-academie-slideshow.block .slides {
    position: relative;
    overflow: hidden;
}

#block-academie-slideshow-academie-slideshow.block .slide,
#block-academie-slideshow-academie-slideshow.block .slide img {
    width: 666px;
    height: 480px;
    margin: 0;
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#block-academie-slideshow-academie-slideshow.block .slide {
    display: none;
    border: 2px solid #FFF;
}

#block-academie-slideshow-academie-slideshow.block .slide:first-child {
    display: block;
}

#block-academie-slideshow-academie-slideshow.block .slide img {
    border: 0;
}



/* ------------- Messages ------------ */

#messages .messages {
    margin: 0 0 1em 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}



/* ------------- Tabs ------------ */

#tabs {
    padding: 0 20px 5px;
}

#tabs .tabs {
    padding: 0;
    margin: 0;
    float: right;
    border: none;
}

#tabs .tabs a {
    padding: 5px 8px;
    margin: 0 0 0 2px;
    border: none;
    background: #EAEDEF;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 1em;
    font-size: 14px;
    text-decoration: none;
    color: #687784;
}

#tabs .tabs a:hover,
#tabs .tabs a:focus,
#tabs .tabs a.active {
    background: #FFF;
    color: #000;
}



/* ------------- Immortel ------------ */

h1 .chair {
    float: right;
    font-size: 0.6em;
    color: #687784;
}

h1 .chair .number {
    width: 30px;
    display: inline-block;
    background-color: #687784;
    text-align: center;
    color: #FFF;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.field-type-academie-decoration {
    font-style: italic;
}

.field-name-field-photo {
    text-align: right;
}

.field-type-academie-work .field-item,
.field-type-academie-speech .field-item,
.field-type-academie-prize .field-item {
    width: 47%;
    padding-left: 2%;
    margin-bottom: .8em;
    display: block;
    position: relative;
    float: left;
}

.field-type-academie-work .field-item.even,
.field-type-academie-speech .field-item.even,
.field-type-academie-prize .field-item.even {
    padding-left: 0;
    padding-right: 2%;
    clear: left;
}

.field-type-academie-work .date,
.field-type-academie-prize .date,
.node .works .work .date {
    width: 50px;
    margin: 0;
    display: block;
    float: left;
}

.field-type-academie-work .work,
.field-type-academie-prize .work,
.node .works .work .infos.with-year {
    width: 245px;
    display: block;
    float: left;
}

.node .works .work .infos.with-year {
    width: 577px;
}

.field-type-academie-work .work .infos,
.field-type-academie-prize .work .infos {
    display: block;
}

.field-type-academie-speech .date,
.node .speeches .date {
    margin-bottom: 0;
    display: block;
    float: none;
}

.node .speeches p {
    margin-bottom: 1em;
}

.node .speeches .date {
    display: inline;
    color: #000;
}

.predecessors-successors {
    text-align: left;
}

.predecessors-successors a {
    display: inline-block;
}

.node-academician .predecessors,
.node-academician .successors {
    display: block;
}

.section .title {
    margin: .2em 0 0;
    padding: .8em 0;
}

.section .title .anchor {
    width: 0;
    height: 18px;
    padding-left: 19px;
    margin-left: 1em;
    margin-bottom: -3px;
    display: inline-block;
    border: 1px solid #687784;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url('../images/section-anchor.png') no-repeat -18px 0;
}

.section.expanded .title .anchor {
    background-position: 0 0;
}

.section .container {
    position: relative;
    padding-right: 3px;
}

.node-immortal {
    width: 128px;
    padding: 8px;
    margin: 0 6px;
    display: block;
    float: left;
    clear: none;
}

.pos-1 .node-immortal {
    clear: left;
}

.node-immortal:hover,
.node-immortal:focus {
    background: #D7DBDE;
}

.node-immortal .photo {
    width: 128px;
    height: 128px;
    display: block;
}

.node-immortal .photo img {
    margin: 0;
    border: 0;
}

.node-immortal,
.node-immortal .photo,
.node-immortal .photo img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.node-immortal .infos,
.vacant.infos {
    padding: 5px 0;
    display: block;
    font-size: .9em;
    line-height: 1.2em;
}

.node-immortal .chair,
.vacant.infos .chair {
    width: 20px;
    padding: 5px;
    float: left;
    color: #FFF;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}

.node-immortal .text,
.vacant.infos .text {
    width: 95px;
    margin-right: -5px;
    display: block;
    float: right;
}

.vacant.infos .text {
    width: 250px;
}

.node-immortal .title,
.vacant.infos .title {
    display: block;
}

.node-immortal .election {
    color: #000;
}

.file-download,
.video-viewing {
    padding: 18px 0 18px 55px;
    display: block;
    background-position: left center;
    background-repeat: no-repeat;
    color: #000;
}

.academie-immortals-sword {
    text-align: center;
}



/* ------------- Sommaire ------------ */

.summary {
    margin-bottom: 2em;
}

.to-top {
    font-size: 0.8em;
    color: #687784 !important;
}



/* ------------- Prix ------------ */

.content-prix .prizes-title {
    font-weight: bold;
}

.content-prix h2.prizes-title {
    font-size: 1.7em;
}

.content-prix h3.prizes-title {
    font-size: 1.4em;
}

.node-prize-list {
    margin-bottom: 1em;
}

.node-prize-list .content p {
    text-align: left !important;
}

.node-prize-list .title {
    margin-bottom: .5em;
    font-family: Ovo, Times, serif;
    font-size: 1.4em;
}

.node-prize-list .field-name-field-foundation,
.node-prize-list .field-creation {
    margin-bottom: 0;
}

.academie-laureate {
    margin-bottom: 1.2em;
    display: block;
    position: relative;
}

.academie-laureate .date {
    width: 50px;
    margin: 0;
    display: inline-block;
}

.academie-laureate .infos {
    width: 245px;
    display: inline-block;
}

.academie-laureate.no-date .infos {
    width: 295px;
    display: block;
    float: none;
}

#content .academie-laureate .infos .title {
    font-family: Ovo, Times, serif;
    font-size: 1.2em;
}

.academie-laureate .infos .price {
    color: #4A5056;
}

#academie-prizes-search-form .form-item {
    position: relative;
}



/* ------------- Dire, ne pas dire ------------ */

.page-blog #block-system-main {
    padding: 0;
    background: none;
}

.page-blog #block-system-main h1 {
    padding: 0;
    margin: 0 0 -0.8em 170px;
    border: 0;
    display: block;
    position: relative;
    top: -70px;
}

.page-blog-home #block-system-main h1 {
    display: none;
}

.page-blog #block-system-main .node-blog {
    padding: 25px 20px 20px;
    margin-top: 18px;
    background: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.page-blog #block-system-main .node-blog:first-child {
    margin-top: 0;
}

.page-blog #block-system-main .node-blog h2 {
    padding-bottom: 8px;
    border-bottom: 1px solid #D9D9D9;
    font-size: 2.14em;
}

.page-blog #block-system-main .node-blog .date {
    margin: -1.2em 0 1.2em;
}



/* ------------- Actualités ------------ */

.block-academie-news .news-front {
    margin-top: 2em;
}

.block-academie-news .news-front .date {
    margin: 0;
}

.block-academie-news .news-front h3 {
    margin: 0.3em 0;
    font-family: DroidSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: #000;
}

.block-academie-news .news-front h3 a {
    color: #000;
}

.page-actualites #block-system-main {
    padding: 0;
    background: none;
}

.page-actualites #block-system-main h1 {
    display: none;
}

#block-academie-news-academie-news-works ul,
#block-academie-news-academie-news-archives ul,
#block-academie-blog-academie-blog-last-articles ul {
    margin-left: 0;
}

#block-academie-news-academie-news-works li,
#block-academie-news-academie-news-archives li,
#block-academie-blog-academie-blog-last-articles li{
    list-style: none;
}



/* ------------- Format complet ------------ */

.node .date {
    margin-bottom: 1.2em;
    float: left;
    color: #687784;
}

.node .category {
    margin: -1.2em 0 1.2em;
    text-align: right;
}



/* ------------- Format teaser ------------ */

.node-teaser {
    padding: 20px;
    margin-top: 18px;
    background: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.node-teaser:first-child {
    margin-top: 0;
}

.node-teaser .date {
    width: 45px;
    min-height: 35px;
    padding: 10px 9px;
    display: block;
    float: left;
    text-align: center;
    border: 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.node-teaser .date .day,
.node-teaser .date .month,
.node-teaser .date .year {
    display: block;
    text-align: center;
}

.node-teaser .date-start,
.node-teaser .date-end {
    display: block;
}

.node-teaser .date-end {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid;
}

.node-teaser .date .day {
    font-size: 2em;
}

.node-teaser .date .month{
    margin: 2px 0 0;
    font-size: 1.3em;
}

.node-teaser .date .year {
    font-size: 1.08em;
}

.node-teaser.with-date > .content {
    margin-left: 80px;
}

.node-teaser .category {
    margin: 0 0 -1em;
    text-align: left;
}

.node-teaser.with-category h2,
.node-teaser.with-category h2 a:link,
.node-teaser.with-category h2 a:active,
.node-teaser.with-category h2 a:visited {
    color: #000;
}



/* ------------- Pagination ------------ */

.item-list .pager {
    margin: 2em 0 0;
    display: block;
}

.item-list .pager li {
    padding: 0;
    margin: 0;
}

.item-list .pager a:active,
.item-list .pager a:link,
.item-list .pager a:visited,
.item-list .pager a,
.item-list li.pager-current {
    min-width: 1em;
    padding: 6px 10px;
    display: inline-block;
    background: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #687784;
}

.item-list .pager a:hover,
.item-list .pager a:focus,
.item-list li.pager-current {
    background: #687784;
    color: #FFF;
    text-decoration: none;
}

.item-list li.pager-previous {
    margin-right: 20px;
}

.item-list li.pager-next {
    margin-left: 20px;
}



/* ------------- Barre latérale ------------ */

#sidebar {
    width: 290px;
    padding: 0 20px;
    display: block;
    float: right;
}

#sidebar .block {
    padding: 25px 0 20px;
    border-top: 1px solid #BABEC2;
}

#sidebar .block:first-child {
    padding-top: 10px;
    border-top: none;
}

#sidebar hr {
    border-color: #BABEC2;
}

#sidebar p {
    text-align: left;
}

#sidebar label {
    width: 100px;
    margin-right: 15px;
}

#sidebar input {
    width: 160px;
}

#sidebar input[type="radio"],
#sidebar input[type="checkbox"] {
    width: auto;
}

#sidebar select,
#sidebar textarea,
#sidebar .form-textarea-wrapper textarea{
    width: 170px;
}

#sidebar .form-item.form-type-date-popup .form-item input {
    background-position: 148px center;
}

#sidebar .form-item.form-type-checkbox {
    padding-left: 115px;
}

#sidebar .form-item.form-type-checkbox label {
    width: 150px;
    padding: 2px 0 6px;
    margin-right: 0;
    display: block;
    float: right;
}

#sidebar .fieldset-legend {
    padding-left: 0;
    padding-right: 7px;
    background-position: right center;
}

#sidebar #autocomplete {
    width: 300px !important;
}

#sidebar .academie-columns {
    width: auto;
    padding: 0;
    float: none;
    clear: none;
}

#sidebar .academie-laureate .date {
    vertical-align: top;
}

#sidebar .academie-laureate .infos {
    width: 235px;
}



/* ------------- Footer ------------ */

#footer {
    padding: 18px 0 45px;
}

#footer #logo-mini {
    margin: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#footer #footer-links ul {
    margin: 0;
}

#footer #footer-links ul li {
    width: 23.5%;
    margin-left: 2%;
    display: block;
    float: left;
    list-style: none;
}

#footer #footer-links ul li:first-child {
    margin-left: 0;
}

#footer #footer-links ul li a {
    color: #687784;
}

#footer #footer-links ul li strong {
    display: block;
    font-family: Ovo, Times, serif;
    font-weight: normal;
    font-size: 1.2em;
    color: #000;
    white-space: nowrap;
}

#footer #footer-links ul li .small {
    font-size: 0.85em;
}

#footer #footer-menu {
    padding: 0 20px;
    background: #687784;
    color: #FFF;
}

#footer #footer-menu a:link,
#footer #footer-menu a:active,
#footer #footer-menu a:visited {
    color: #FFF;
}

#footer #footer-menu ul {
    margin: 0;
    float: right;
}

#footer #footer-menu ul li {
    display: inline;
    line-height: 1em;
    list-style: none;
}

#footer #footer-menu ul li a {
    padding: 12px 5px;
    display: inline-block;
}

#footer.informations #footer-links,
#footer.informations #footer-menu {
    width: 702px;
    float: left;
    clear: left;
}

#footer.informations #footer-links {
    font-size: 0.8em;
    margin-top: 0;
}

#footer.informations #footer-informations {
    width: 200px;
    margin-left: 18px;
    float: right;
    color: #727B83;
}

#footer.informations #footer-informations h2 {
    font-size: 1.2em;
    color: #4A5056;
}

#footer.informations #footer-informations p {
    font-size: 0.85em;
}

#footer.informations #footer-informations h2,
#footer.informations #footer-informations p {
    margin-bottom: 0;
}

.page-node-22 #block-academie-sidebar-academie-sidebar .file-image-jpeg,
.page-node-22 #block-academie-sidebar-academie-sidebar .file-image-png,
.page-node-22 #block-academie-sidebar-academie-sidebar .file-image-gif{
float:left; 
padding:5px 10px;
margin : 0;
}
.page-node-22 #block-academie-sidebar-academie-sidebar .media-element-container {
width: 120px;
height:170px;
float:left; 
}
.page-node-22 #block-academie-sidebar-academie-sidebar img {
max-width: 100px;
max-height:150px;
}

/* Page d'accueil */
.front #body {
  min-height: 484px;
  position: relative;
}

.front #content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}





/* API dictionnaire */

#header .header_accroche_dico_api {
 background: transparent url('../images/accroche_dico_api.png') no-repeat left 10px;
 width:167px;
 height:85px;
 float:left;
 display:block;
}

#search .form-text {
position:relative;
}

#search .form-text {
font-size:16px;
margin : 5px 0 0 5px;
}
#header #search {
 background: transparent url('../images/dictionnaire.png') no-repeat left 15px;
 padding-top:30px;
  padding-bottom:5px;
  width:380px;
}

#header #search {
 /* padding-bottom:15px;*/
}

#edit-sc-dico-opt-rech .form-item{
padding:0;
margin:0px;
}

.dico_bloc_options {
margin-top : -15px;
margin-left:170px;
width:auto;
float:left;
position:absolute;
}



#search .form-item-sc-dico-opt-rech label {
padding:0px;
margin:0;
font-size:0.95em;
display:inline;
color:#4A5056;
}

#search input.form-text {
width:330px;
padding:7px 15px;
}

.dico-autocomplete {padding: 2px 10px; color:#333; font-size:16px;}
.dico-autocomplete:hover {background: #4378c4; color:#fff; }


html.js #search input.form-autocomplete {
background-image :none;
}

.picto_aide_dico {
width:30px;
height:30px;
float:right;
background-position : 0 0;
background-image: url("../images/logo_info_dico.png");
background-repeat: no-repeat;
margin-top:-5px;
}
.picto_aide_dico:hover {
background-position : 0 -34px;
}

#search #edit-submit, #search .form-submit {
background-image: url("../images/icon-search2.png");
}

/* ------------- Fonts ------------ */

@font-face {
    font-family: "DroidSans";
    src: url('../fonts/droidsans.eot');
    src: url('../fonts/droidsans86d7.eot?iefix') format('eot'),
         url('../fonts/droidsans.woff') format('woff'),
         url('../fonts/droidsans.ttf') format('truetype'),
         url('../fonts/droidsans.svg#DroidSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ovo";
    src: url('../fonts/ovo.eot');
    src: url('../fonts/ovo86d7.eot?iefix') format('eot'),
         url('../fonts/ovo.woff') format('woff'),
         url('../fonts/ovo.ttf') format('truetype'),
         url('../fonts/ovo.svg#Ovo') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** Photothèque **/
.page-phototheque h1 {color: #ed7d31;}
.phototheque-theme-intro {border: 1px solid #000000;padding: 10px;margin-bottom: 20px;}
.phototheque-theme-intro p:last-child {margin-bottom: 0;}
ul.phototheque-theme-list {overflow: hidden;text-align: left;}
ul.phototheque-theme-list a {color: #ed7d31 !important;}
ul.phototheque-theme-list li {display: inline-block;list-style-type: none;margin: 20px;text-align: center;width: 270px;}
/*
ul.phototheque-theme-list li {float: left;display: inline;list-style-type: none;margin: 20px;text-align: center;width: 270px;}
ul.phototheque-theme-list li:nth-child(2n+1) {clear: left;}
*/
ul.phototheque-theme-list li img {border: 0;border-radius: 10px;margin-bottom: 0.4em;}
.term-phototheque h1 {color: #ed7d31;}
ul.phototheque-list {overflow: hidden;}
ul.phototheque-list a {color: #ed7d31 !important;}
ul.phototheque-list li {display: inline-block;list-style-type: none;margin: 15px 10px;text-align: center;width: 180px;}
/*
ul.phototheque-list li {float: left;display: inline;list-style-type: none;margin: 15px 10px;text-align: center;width: 180px;}
ul.phototheque-list li:nth-child(3n+1) {clear: left;}
*/
ul.phototheque-list li img {border: 0;border-radius: 10px;margin-bottom: 0.4em;}
.phototheque-intro {border: 1px solid #D9D9D9;padding: 10px;margin-bottom: 20px;}
.node-type-phototheque h1 {color: #ed7d31;}
.node-type-phototheque .field-name-field-phototheque-image {text-align: center;margin-bottom: 1em;}
.node-type-phototheque .field-name-field-phototheque-image img {border: 0;border-radius: 10px;}
.node-phototheque a {color: #ed7d31 !important;}
.node-phototheque .original-file-link {margin-bottom: 1em;text-align: center;}
.node-phototheque .original-file-link a {font-weight: bold;}
.block-academie-sidebar .node-phototheque .field-name-field-phototheque-image img {width: 75%;}
.block-academie-sidebar .node-phototheque .original-file-link {text-align: center !important;}