.academie-sidebar-title {
    margin-bottom: 1em;
}

.academie-sidebar-fieldset fieldset.filter-wrapper {
    display: none;
}

.academie-sidebar-fieldset .cke_contents {
    height: 225px !important;
}